<section id="footer" class="section bg-gray">
    <section class="container grid-lg">
        <p>© 2025 Food 4 Good · Alle Rechte vorbehalten · Mit ❤️ für eine bessere Welt</p>
    </section>
</section>
